.nav-wizard {
  > li {
    float: left;
    > a {
      position: relative;
      background-color: #eeeeee;
      padding:7px 15px;
      .badge {
        margin-left: 3px;
        color: #eeeeee;
        background-color: $brand-primary;
      }
    }
    &:not(:first-child) > a {
      padding-left: 34px;
      &:before {
        width: 0px;
        height: 0px;
        border-top: 20px inset transparent;
        border-bottom: 20px inset transparent;
        border-left: 20px solid #ffffff;
        position: absolute;
        content: "";
        top: 0;
        left: 0;
      }
    }
    &:not(:last-child) > a {
      margin-right: 6px;
      &:after {
        width: 0px;
        height: 0px;
        border-top: 20px inset transparent;
        border-bottom: 20px inset transparent;
        border-left: 20px solid #eeeeee;
        position: absolute;
        content: "";
        top: 0;
        right: -20px;
        z-index: 2;
      }
    }
    &:first-child > a {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }
    &:last-child > a {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }
    &.done:hover > a, &:hover > a {
      background-color: #d5d5d5;
    }
    &.done:hover > a:before, &:hover > a:before {
      border-right-color: #d5d5d5;
    }
    &.done:hover > a:after, &:hover > a:after {
      border-left-color: #d5d5d5;
    }
    &.done > a {
      background-color: #e2e2e2;
      &:before {
        border-right-color: #e2e2e2;
      }
      &:after {
        border-left-color: #e2e2e2;
      }
    }
    &.active > a {
      color: #ffffff;
      background-color: $brand-primary;
      &:hover, &:focus {
        color: #ffffff;
        background-color: $brand-primary;
      }
      &:after {
        border-left-color: $brand-primary;
      }
      .badge {
        color: $brand-primary;
        background-color: #ffffff;
      }
    }
    &.disabled > a {
      color: #777777;
      &:hover, &:focus {
        color: #777777;
        text-decoration: none;
        background-color: #eeeeee;
        cursor: default;
      }
      &:before {
        border-right-color: #eeeeee;
      }
      &:after {
        border-left-color: #eeeeee;
      }
    }
  }
  &.nav-justified > li {
    float: none;
    > a {
      padding: 10px 15px;
    }
  }
}

@media (max-width: 768px) {
  .nav-wizard.nav-justified > li > a {
    border-radius: 4px;
    margin-right: 0;
    &:before, &:after {
      border: none !important;
    }
  }
}