.password-strength{
	display: none;
	position: absolute;
    left: 105%;
    top: 5%;
    width: 250px;
    padding: 10px 20px;
    background: #fff;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    border-radius: 3px;
    &:after{
    	content: "";
	    position: absolute;
	    width: 0;
	    height: 0;
	    margin-left: -0.5em;
	    top: 50%;
	    right: 97.8%;
	    box-sizing: border-box;
	    border: 10px solid black;
	    border-color: #fff transparent transparent #fff;
	    transform-origin: 0 0;
	    transform: rotate(-45deg);
	    box-shadow: -1px -1px 2px 0 rgba(0, 0, 0, 0.4);
	}
	.error{
		&:before{
			font-family: 'FontAwesome';
			content: "\f057";
    		color: #e51c23;
    		display: inline-block;
    		margin-right: 10px;
		}
	}
	.valid{
		&:before{
			font-family: 'FontAwesome';
			content: "\f058";
    		color: #4CAF50;
    		display: inline-block;
    		margin-right: 10px;
		}
	}
}