.slider{
	opacity: 0;
	@media (min-width: $screen-md-min){
		margin-top: 15%;
	}
	@media (max-width: $screen-xs-max){
		margin-top: 0;
	}
	@media (min-width: $screen-sm-min){
		margin-top: 5%;
	}
	.box {
	    margin-bottom: 9px;
	    margin-top: 5px;
	    padding: 0 63px;
	    @media (max-width: $screen-xs-max){
			padding: 0;
		}
		@media (max-width: $screen-sm-max){
			padding: 0;
		}
	    outline: none;
		.artwork img {
	    	max-width: 190px;
	    	margin: 0 auto;
	    	background: #fff;
		    border-radius: 50%;
		    padding: 25px;
		    border: 2px solid #{$blue};
		    margin-bottom: 35px;
		}
		.titles {
		    font-size: 19px;
		    color: #333;
		    padding-bottom: 3px;
		    padding-top: 0;
		    text-align: center;
		}
		p{
			text-align: center;
		}
	}
}
.skip{
	margin: 30px 0;
}