/* NAV TABS */
.nav-tabs-custom {
  margin-bottom: 20px;
  background: #fff;
  box-shadow: $box-boxshadow;
  border-radius: $box-border-radius;
  > .nav-tabs {
    background-color: #fff;
    margin: 0;
    border-bottom-color: #f4f4f4;
    @include border-top-radius($box-border-radius);
    > li {
      border-top: 3px solid transparent;
      margin-bottom: -2px;
      > a {
        color: $gray !important; 
        @include border-radius-same(0 !important);
        &,
        &:hover {
          background: transparent;
          margin: 0;
        }
        &:hover {
          color: #999;
        }
      }
      &:not(.active) {
        > a:hover,
          > a:focus,
          > a:active {
          border-color: transparent;
        }
      }
      margin-#{$opposite-direction}: 5px;
    }

    > li.active {
      border-top-color: $blue;
      & > a,
      &:hover > a {
        background-color: #fff;
        color: #444;
      }
      > a {
        border-top-color: transparent;
        border-#{$default-float}-color: #f4f4f4;
        border-#{$opposite-direction}-color: #f4f4f4;
      }

    }

    > li:first-of-type {
      margin-#{$default-float}: 0;
      &.active {
        > a {
          border-#{$default-float}-color: transparent;
        }
      }
    }

    //Pulled to the #{$opposite-direction}
    &.pull-#{$opposite-direction} {
      float: none!important;
      > li {
        float: #{$opposite-direction};
      }
      > li:first-of-type {
        margin-#{$opposite-direction}: 0;
        > a {
          border-#{$default-float}-width: 1px;
        }
        &.active {
          > a {
            border-#{$default-float}-color: #f4f4f4;
            border-#{$opposite-direction}-color: transparent;
          }
        }
      }
    }

    > li.header {
      line-height: 35px;
      padding: 0 10px;
      font-size: 20px;
      color: #444;
      > .fa,
      > .glyphicon,
      > .ion {
        margin-#{$opposite-direction}: 5px;
      }
    }
  }

  > .tab-content {
    background: #fff;
    padding: 10px;
    @include border-bottom-radius($box-border-radius);
  }

  .dropdown.open > a {
    &:active,
      &:focus {
      background: transparent;
      color: #999;
    }
  }
}