.users-list {
	li.new{
		position: relative;
    	height: 150px;
		.add{
			position: absolute;
		    width: 100%;
		    height: 100%;
		    top: 0;
		    left: 0;
		    padding: 45px;
		    background: #fff;
		    opacity: 0.7;
		    border: 1px dashed;
		}
	}
}
button.btn{
	line-height: 5px;
}
.centered{
	margin:0 auto;
}