.rating{
	unicode-bidi:bidi-override;
	direction:rtl;font-size:30px;

	span.star{
		font-family:FontAwesome;
		font-weight:normal;
		font-style:normal;
		display:inline-block;

		&:hover{
			cursor:pointer;
		}

		&:before{
			content:"\f006";
			padding-right:5px;
			color:#777;
		}
	}
}

.rating span.star:hover:before,.rating span.star:hover~span.star:before{
	content:"\f005";
	color:#e3cf7a;
}

.fa-small {
    font-size: 17px !important;
    margin-right: 5px;
}

.modal-body{
	padding-top:0px!important;
}