.set-password-panel{
	.panel-body{
		@media (min-width: $screen-md-min){
			padding: 15px 35px 20px;
		}
		@media (max-width: $screen-xs-max){
			padding: 15px;
		}
		@media (max-width: $screen-sm-max){
			padding: 15px;
		}
		h2{
			margin: 25px 0;
		}
		i.fa{
			display: block;
		    text-align: center;
		    font-size: 70px;
		    color: #{$blue}
		}
	}
}

@media (max-width: $screen-header-collapse) {
	.main-header .logo{
		padding: 0 15px;
	}
}